
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

}

body {
  display: grid;
  place-items: center;
}

.main {
  overflow: hidden;
}

.name {
  display: flex;
}

.name-input {

}

.message li{
  list-style: none;

}

.date {
  display: block;
  margin-bottom: 10px;
}




.feedback {
  text-align: center;
}

.message-form input.message-input {
  width: calc(100% - 100px);
  padding: 1px;
}

.message-form .send-button {
  width: 80px;
  padding: 1px;
}

